---
layout: default
title-class: podcast
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ site.url | append: '/podcasts/' }}",
        "name": "Podcasts"
      }
    },{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ site.url | append: page.url }}",
        "name": "{{ page.title }}",
        "image": "{{ site.url | append: '/images' | append: page.thumbnail }}"
      }
    }]
  }
</script>

<div class="podcast-wrapper">
  <div class="podcast-info">
    <section class="podcast-intro paragraph-normal"> 
        <iframe width="100%" height="150" scrolling="no" frameborder="yes" allow="autoplay" src={{page.embed_link}}></iframe>
        <iframe width="100%" height="150" scrolling="no" frameborder="yes" allow="autoplay" src={{page.embed_link_spotify}}></iframe> 
        <iframe width="100%" height="160" scrolling="no" frameborder="yes" allow="autoplay" src={{page.embed_link_apple}}></iframe> 
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break:
            normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; 
            font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,
            Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="https://soundcloud.com/striciiztujine" 
            title="Strici iz tujine" 
            target="_blank" 
            style="color: #cccccc; text-decoration: none;">Strici iz tujine</a>
        · <a href="{{page.website.url}}" 
             title="{{page.title}}" 
             target="_blank" 
             style="color: #cccccc; text-decoration: none;">
            {{page.title}}</a>
        </div>
    </section>
    <aside class="podcast-details">
      <div class="podcast-detail-wrapper">

        {% if page.disciplines %}
        <div class="podcast-detail podcast-detail-6 podcast-detail-first">
          <h3 class="title-label">Disciplines</h3>
          {% assign discipline_list = page.disciplines | split: ','  %}

          {% for discipline in discipline_list %}
          <span class="keep-line-wrap">{{ discipline }}{% if forloop.last == false %},{% endif %}</span>
          {% endfor %}
        </div>
        {% endif %}

          {% if page.time_period %}
          <div class="podcast-detail podcast-detail-6">
            <h3 class="title-label">Year</h3>
            <p>{{ page.time_period }}</p>
          </div>
          {% endif %}

        {% if page.website.url %}
        <div class="podcast-detail podcast-detail-12">
          <a href="{{ page.website.url }}" class="button-secondary">{{ page.website.button_text }}</a>
        </div>
        {% endif %}
        {% if page.website_spotify %}
        <div class="podcast-detail podcast-detail-12">
          <a href="{{ page.website_spotify.url }}" class="button-secondary">{{ page.website_spotify.button_text }}</a>
        </div>
        {% endif %}
        {% if page.website_apple %}
        <div class="podcast-detail podcast-detail-12">
          <a href="{{ page.website_apple.url }}" class="button-secondary">{{ page.website_apple.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </aside>
    <section class="podcast-intro paragraph-normal">{{ page.intro | markdownify }}</section>
  </div>
<!--
  <section>
  {% for entry in page.content_layout %}
    {% include layout.html %}
  {% endfor %}
  </section>
-->
  {% if page.content %}
  <section class="additional-content-wrapper">
    <div class="additional-content">
      {{ content }}
    </div>
  </section>
  {% endif %}
</div>
